*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Saira-Regular.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Saira-ExtraBold.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex_1 {
  flex: 1;
}

.glitched {
  -webkit-animation: glitch 3s linear infinite;
          animation: glitch 3s linear infinite;
}
.glitched:before, .glitched:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
.glitched:before {
  -webkit-animation: glitchTop 1s linear infinite;
          animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.glitched:after {
  -webkit-animation: glitchBotom 1.5s linear infinite;
          animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@-webkit-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@-webkit-keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@-webkit-keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
/*=================================

      Titles

==================================*/
h1, h2, h3, h4, h5, h6, p {
  color: #fff;
  position: relative;
  z-index: 8;
}

#description {
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1135px) {
  #description {
    padding: 10px 10vw;
  }
}
#description h1 {
  font-size: 5.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-animation: appear 0.1s ease-in-out forwards 1;
          animation: appear 0.1s ease-in-out forwards 1;
}
@media screen and (max-width: 1400px) {
  #description h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 1135px) {
  #description h1 {
    font-size: 40px !important;
  }
}
#description h1.ml16 {
  overflow: hidden;
}
#description h1.ml16 .letter {
  display: inline-block;
}
#description p {
  font-size: 2.2em;
}
@media screen and (max-width: 1400px) {
  #description p {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 1135px) {
  #description p {
    font-size: 18px !important;
  }
}
#description h2 {
  position: relative;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  -webkit-animation: appear 0.1s ease-in-out forwards 1;
          animation: appear 0.1s ease-in-out forwards 1;
}
#description h2.ml12 .letter {
  display: inline-block;
}
@media screen and (max-width: 1150px) {
  #description h2 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 1135px) {
  #description h2 {
    font-size: 25px !important;
  }
}
#description h2::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 3px;
  background: #fff;
  -webkit-animation: increaseWidth 1s ease-in-out 1.4s forwards 1;
          animation: increaseWidth 1s ease-in-out 1.4s forwards 1;
}
@media screen and (max-width: 1135px) {
  #description h2::after {
    bottom: 0;
  }
}
@-webkit-keyframes increaseWidth {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes increaseWidth {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projects_wrapper {
  padding: 0 3em;
  position: relative;
  height: 100vh;
  overflow: auto;
  -webkit-mask-image: linear-gradient(0deg, transparent 0%, #000 7%, #000 93%, transparent 100%);
  mask-image: linear-gradient(0deg, #fff 0%, transparent 7%, transparent 93%, #fff 100%);
}
.projects_wrapper .project_wrapper {
  width: 40vw;
}
@media screen and (max-width: 1135px) {
  .projects_wrapper .project_wrapper {
    width: 100%;
  }
}
.projects_wrapper .project_wrapper.active .left .project {
  transform: scale(1.15);
  opacity: 1;
}
.projects_wrapper .project_wrapper:hover .left::before {
  transform: scale(1.4);
}
.projects_wrapper .project_wrapper .left {
  position: relative;
  padding: 1em 4em 1em 0;
  width: 100%;
  border-right: 4px solid #fff;
}
@media screen and (max-width: 1135px) {
  .projects_wrapper .project_wrapper .left {
    padding: 1em 0;
    border-right: none;
  }
}
.projects_wrapper .project_wrapper .left::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: -12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.15s ease-out;
}
@media screen and (max-width: 1135px) {
  .projects_wrapper .project_wrapper .left::before {
    display: none;
  }
}
.projects_wrapper .project_wrapper .left .project {
  background: #071D30;
  padding: 1em;
  /*Define right border color*/
  border-right: 5px solid #fff;
  border-bottom: 3px solid #fff;
  transform: scale(1);
  opacity: 0.6;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.projects_wrapper .project_wrapper .left .project.type-website {
  border-right: 5px solid #18AC00;
  border-bottom: 3px solid #18AC00;
}
.projects_wrapper .project_wrapper .left .project.type-lib {
  border-right: 5px solid #ff9800;
  border-bottom: 3px solid #ff9800;
}
.projects_wrapper .project_wrapper .left .project.type-other {
  border-right: 5px solid #3f51b5;
  border-bottom: 3px solid #3f51b5;
}
.projects_wrapper .project_wrapper .left .project h4 {
  font-size: 2em;
  overflow-wrap: normal;
}
@media screen and (max-width: 1135px) {
  .projects_wrapper .project_wrapper .left .project h4 {
    overflow-wrap: break-word;
  }
}
.projects_wrapper .project_wrapper .left .project p {
  font-size: 1.1em;
}
.projects_wrapper .project_wrapper .left .project a {
  margin: 1.5em auto;
}
.projects_wrapper .project_wrapper .left .project img, .projects_wrapper .project_wrapper .left .project svg {
  height: 3em;
}
.projects_wrapper .project_wrapper .left .project > div {
  display: flex;
  gap: 10px;
}
.projects_wrapper .project_wrapper .right {
  padding-left: 4em;
}
@media screen and (max-width: 1135px) {
  .projects_wrapper .project_wrapper .right {
    display: none;
  }
}

#social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#social > .social_item {
  position: relative;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.1%;
  /*To be animated*/
  transform: translateY(20vh);
  opacity: 0;
}
#social > .social_item:hover svg {
  fill: var(--hover);
  transform: translateZ(10px);
}
#social > .social_item > a {
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1135px) {
  #social > .social_item > a {
    padding: 2vh;
  }
}
#social > .social_item > a svg {
  height: 6vh;
  fill: #fff;
  transform: translateZ(0);
  transition: fill 0.15s ease-out, transform 0.15s ease-out;
}
@media screen and (max-width: 1135px) {
  #social > .social_item > a svg {
    height: 10vh;
  }
}

#technos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-animation: appear 1s ease 0.4s forwards;
          animation: appear 1s ease 0.4s forwards;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#technos #techno_wrapper {
  display: block;
  height: 200px;
}
#technos #techno_text_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  fill: #fff;
  stroke: #fff;
  stroke-width: 10px;
  stroke-linecap: round;
  fill-rule: evenodd;
  vector-effect: non-scaling-stroke;
}
#technos .techno_icons {
  visibility: hidden;
}

.btn {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.6em 2em;
  box-shadow: 0 0 0 0.15em #fff;
  background: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}
.btn p {
  position: relative;
  z-index: 4;
  transition: color 0.4s cubic-bezier(0.47, 0.07, 0.64, 0.95);
}
.btn span.btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
  transform: scaleX(0);
  transform-origin: left center;
  background: #fff;
  z-index: 0;
  transition: transform 0.4s cubic-bezier(0.47, 0.07, 0.64, 0.95);
}
.btn:hover p {
  color: #071D30;
}
.btn:hover span.btn-bg {
  transform: scaleX(1);
}
.btn:hover::before {
  left: 75%;
}
.btn:hover::after {
  right: 75%;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 0.2em;
  background: #071D30;
}
.btn::before {
  top: -0.2em;
  left: 10%;
  transition: left 0.4s cubic-bezier(0.47, 0.07, 0.64, 0.95);
}
.btn::after {
  bottom: -0.2em;
  right: 10%;
  transition: right 0.4s cubic-bezier(0.47, 0.07, 0.64, 0.95);
}

#bg_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: hue-rotate(150deg);
  opacity: 0;
  z-index: 0;
  transition: opacity 2s ease, filter 0.1s ease;
}
#bg_video video {
  min-width: 100%;
  min-height: 100%;
}
#bg_video.loaded {
  opacity: 1;
}

/*=================================

      Body

==================================*/
body {
  background: #092740;
}

/*=======================
    Responsive
========================*/
@media screen and (max-width: 1135px) {
  body {
    overflow-y: auto;
  }

  #bg_video {
    display: none !important;
  }

  .main_wrapper {
    flex-direction: column;
  }
  .main_wrapper > section {
    width: 100%;
  }
  .main_wrapper > section:nth-child(1) > div {
    margin: 4vh 0;
  }
  .main_wrapper .projects_wrapper {
    -webkit-mask-image: none;
    mask-image: none;
    overflow: hidden;
    height: auto;
  }
  .main_wrapper .projects_wrapper::before {
    content: "Projects";
    font-size: 25px;
    font-weight: 800;
    color: #fff;
  }
  .main_wrapper .projects_wrapper .project_wrapper {
    width: 100%;
    opacity: 1 !important;
    transform: scale(1) !important;
  }
}
