#social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > .social_item{
        position: relative;
        z-index: 8;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 0.1%;

        /*To be animated*/
        transform: translateY(20vh);
        opacity: 0;

        $transition: 0.15s ease-out;

        &:hover{
            svg{
                fill: var(--hover);
                transform: translateZ(10px);
            }
        }

        & > a{
            text-align: center;

            text-decoration: none;

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 1135px){
                padding: 2vh;
            }

            svg{
                height: 6vh;
                @media screen and (max-width: 1135px){
                    height: 10vh;
                }

                fill: #fff;

                transform: translateZ(0);
                transition: fill $transition, transform $transition;
            }
        }
    }
}
