#social {
    @media screen and (max-width: 1136px) {
        display: none;
    }

    position: absolute;
    bottom: 5vh;
    left: 5vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > .social_items_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80vw;
    }

    .social_item {
        position: relative;
        z-index: 8;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: 0.3s cubic-bezier(.17,-0.04,.25,1.05);

        &:hover svg {
            fill: var(--hover);
            transform: translateZ(100px);
        }

        > a {
            text-align: center;
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2vh;
            transition: opacity 0.3s cubic-bezier(.17,-0.04,.25,1.05), transform 0.3s cubic-bezier(.17,-0.04,.25,1.05);

            &:not(.social_open_link) {
                transform: translateY(20vh);
                opacity: 0;
            }

            &.social_open_link {
                background: #071D30;
                border-radius: 50%;
                padding: 1vw;
                border: 2px solid #18AC00;
            }

            svg {
                height: 6vh;
                fill: #fff;
                transform: translateZ(0);
                transition: fill 0.3s cubic-bezier(.17,-0.04,.25,1.05), transform 0.3s cubic-bezier(.17,-0.04,.25,1.05);
            }
        }

        &.opened a {
            transform: translateY(0) !important;
            opacity: 1 !important;
        }
    }
}
