.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.flex_1{
    flex: 1;
}
